@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Raleway';
    font-weight: 400;
    src: local('Raleway'),
      url('../../../public/fonts/Raleway-Regular.ttf') format('truetype');
  }

  form input,
  form textarea {
    @apply py-1 px-4 border border-gray-600;
  }

  form label {
    @apply mt-4 font-bold;
  }
}
